* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading{
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    background-color: white;
}

html {
  background-color: #00539F;
}